In [5]:
# Library to suppress warnings or deprecation notes 
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Libraries to help with data visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [191]:
# Reading the CSV data file
data = pd.read_csv('../data/Dateset_ODI.csv')

In [194]:
cdata = data.copy()

In [11]:
data.describe()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
count,3932,3932,3932,3932,3753,3932,3932
unique,3932,24,25,25,227,173,3386
top,ODI # 1528,Australia,Sri Lanka,Australia,6 wickets,Sharjah,"Feb 4, 2007"
freq,1,583,508,555,347,228,6

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3932 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3932 non-null   object
 1   Team 1      3932 non-null   object
 2   Team 2      3932 non-null   object
 3   Winner      3932 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3932 non-null   object
 6   Match Date  3932 non-null   object
dtypes: object(7)
memory usage: 107.6+ KB

In [25]:
data.head()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Manchester,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Lord's,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Birmingham,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Christchurch,"Feb 11, 1973"

In [28]:
data.tail()

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
3927,ODI # 3928,India,New Zealand,New Zealand,6 wickets,Mumbai,"Oct 22, 2017"
3928,ODI # 3929,South Africa,Bangladesh,South Africa,200 runs,East London,"Oct 22, 2017"
3929,ODI # 3930,Pakistan,Sri Lanka,Pakistan,9 wickets,Sharjah,"Oct 23, 2017"
3930,ODI # 3931,India,New Zealand,India,6 wickets,Pune,"Oct 25, 2017"
3931,ODI # 3932,India,New Zealand,India,6 runs,Kanpur,"Oct 29, 2017"

In [42]:
#removing the null
new_data =  data.dropna()
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3753 entries, 0 to 3931
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Scorecard   3753 non-null   object
 1   Team 1      3753 non-null   object
 2   Team 2      3753 non-null   object
 3   Winner      3753 non-null   object
 4   Margin      3753 non-null   object
 5   Ground      3753 non-null   object
 6   Match Date  3753 non-null   object
dtypes: object(7)
memory usage: 131.9+ KB

In [47]:
data['Ground'].mode()

0    Sharjah
dtype: object

In [102]:
data.groupby(['Ground']).size().sort_index()

Ground
Aberdeen         11
Abu Dhabi        37
Adelaide         82
Ahmedabad        24
Albion            5
                 ..
Vijayawada        1
Visakhapatnam    11
Wellington       56
Whangarei         1
Worcester         3
Length: 173, dtype: int64

In [105]:
data.groupby(['Winner']).size().sort_values()

Winner
Africa XI         1
ICC World XI      1
Asia XI           4
P.N.G.            5
Hong Kong         6
Bermuda           7
U.A.E.            9
Canada           17
Netherlands      28
Scotland         31
tied             34
Afghanistan      42
Kenya            42
Ireland          51
Bangladesh      105
Zimbabwe        129
no result       140
New Zealand     324
England         343
South Africa    361
Sri Lanka       372
West Indies     380
Pakistan        469
India           476
Australia       555
dtype: int64

In [61]:
data[data['Ground'] == 'Sharjah'].sort_values(by='Winner', ascending=False )

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
1513,ODI # 1514,Pakistan,Sri Lanka,tied,NaN,Sharjah,"Oct 15, 1999"
1141,ODI # 1142,New Zealand,Sri Lanka,tied,NaN,Sharjah,"Nov 11, 1996"
1995,ODI # 1996,Kenya,Zimbabwe,Zimbabwe,5 wickets,Sharjah,"Apr 5, 2003"
1372,ODI # 1373,India,Zimbabwe,Zimbabwe,13 runs,Sharjah,"Nov 11, 1998"
1371,ODI # 1372,Sri Lanka,Zimbabwe,Zimbabwe,24 runs,Sharjah,"Nov 10, 1998"
...,...,...,...,...,...,...,...
3417,ODI # 3418,Afghanistan,Kenya,Afghanistan,7 wickets,Sharjah,"Oct 4, 2013"
3341,ODI # 3342,Afghanistan,Scotland,Afghanistan,5 wickets,Sharjah,"Mar 8, 2013"
3340,ODI # 3341,Afghanistan,Scotland,Afghanistan,7 wickets,Sharjah,"Mar 6, 2013"
2956,ODI # 2957,Afghanistan,Canada,Afghanistan,1 run,Sharjah,"Feb 16, 2010"
3270,ODI # 3271,Afghanistan,Netherlands,Afghanistan,5 wickets,Sharjah,"Mar 31, 2012"

In [81]:
k = data[data['Ground'] == 'Sharjah']

#k[k['Winner'] == k['Winner'].count()]

k[k['Winner'] == k['Winner'].max()]

       Scorecard       Team 1     Team 2 Winner Margin   Ground    Match Date
1141  ODI # 1142  New Zealand  Sri Lanka   tied    NaN  Sharjah  Nov 11, 1996
1513  ODI # 1514     Pakistan  Sri Lanka   tied    NaN  Sharjah  Oct 15, 1999

In [95]:
data['Match Date'].value_counts()

Feb 4, 2007     6
Jul 10, 2010    4
Jun 9, 1979     4
Jun 11, 1975    4
Jan 31, 2007    4
               ..
Oct 18, 2011    1
Oct 28, 2006    1
Dec 4, 2007     1
Aug 7, 2009     1
Aug 24, 1997    1
Name: Match Date, Length: 3386, dtype: int64

In [97]:
data['Ground'].value_counts()

Sharjah            228
Dhaka              156
Sydney             154
Melbourne          147
Harare             136
                  ...
Nairobi (Club)       1
Launceston           1
Ballarat             1
Tunbridge Wells      1
Sargodha             1
Name: Ground, Length: 173, dtype: int64

In [119]:
k = data[data['Winner'] == 'Australia']
k['Ground'].max()

'Worcester'

In [141]:
data[data['Winner'] == data['Team 2']].count()

Scorecard     1637
Team 1        1637
Team 2        1637
Winner        1637
Margin        1635
Ground        1637
Match Date    1637
dtype: int64

In [147]:
k = data[data['Ground'] == 'Sharjah']
k['Winner'].all()

'Pakistan'

In [190]:
= data[data['Ground'] == "Lord\'s"]  
['Winner'].value_counts()

Series([], Name: Winner, dtype: int64)

In [181]:
data['Match Date'].value_counts()

Feb 4, 2007     6
Jul 10, 2010    4
Jun 9, 1979     4
Jun 11, 1975    4
Jan 31, 2007    4
               ..
Oct 18, 2011    1
Oct 28, 2006    1
Dec 4, 2007     1
Aug 7, 2009     1
Aug 24, 1997    1
Name: Match Date, Length: 3386, dtype: int64

In [175]:
k = data[data['Ground']== 'Melbourne']
k

,Scorecard,Team 1,Team 2,Winner,Margin,Ground,Match Date
0,ODI # 1,Australia,England,Australia,5 wickets,Melbourne,"Jan 5, 1971"
1,ODI # 2,England,Australia,England,6 wickets,Melbourne,"Aug 24, 1972"
2,ODI # 3,England,Australia,Australia,5 wickets,Melbourne,"Aug 26, 1972"
3,ODI # 4,England,Australia,England,2 wickets,Melbourne,"Aug 28, 1972"
4,ODI # 5,New Zealand,Pakistan,New Zealand,22 runs,Melbourne,"Feb 11, 1973"
...,...,...,...,...,...,...,...
3927,ODI # 3928,India,New Zealand,New Zealand,6 wickets,Melbourne,"Oct 22, 2017"
3928,ODI # 3929,South Africa,Bangladesh,South Africa,200 runs,Melbourne,"Oct 22, 2017"
3929,ODI # 3930,Pakistan,Sri Lanka,Pakistan,9 wickets,Melbourne,"Oct 23, 2017"
3930,ODI # 3931,India,New Zealand,India,6 wickets,Melbourne,"Oct 25, 2017"
3931,ODI # 3932,India,New Zealand,India,6 runs,Melbourne,"Oct 29, 2017"

In [182]:
data1 = data[data['Winner'] == 'Australia']  
data1['Ground'].value_counts()

Melbourne    555
Name: Ground, dtype: int64

In [192]:
data['Winner'].value_counts()

Australia       555
India           476
Pakistan        469
West Indies     380
Sri Lanka       372
South Africa    361
England         343
New Zealand     324
no result       140
Zimbabwe        129
Bangladesh      105
Ireland          51
Afghanistan      42
Kenya            42
tied             34
Scotland         31
Netherlands      28
Canada           17
U.A.E.            9
Bermuda           7
Hong Kong         6
P.N.G.            5
Asia XI           4
Africa XI         1
ICC World XI      1
Name: Winner, dtype: int64

In [211]:
data1 = cdata[cdata['Winner'] == "Lord's"]